body {
  background-color: #0f1114;
  color: #f2f2f2;
  text-align: center;
  font-size: x-large;
}
button{
  background-color: #f2f2f2;
  color: #0d0f12;
} 
button:hover{
  background-color: #2a2b2b;
  color: #f2f2f2;
}
